html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

html, body, .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

body{
    background: white url("img/geometry2.png");
}

.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

.deck{
    position: relative;
    min-width: 300px;
    width: 50%;
    height: 88%;
    background: linear-gradient(160deg, rgb(114, 102, 221),rgb(165, 31, 165));
    border-radius: 10px;
    top: 10%; 
    box-shadow: 15px 15px 20px rgba(51, 45, 45, 0.7);
    margin: 0 auto;
    padding: 0.2em;
   /* padding: 0 0 0 20px; */
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    /* width: 133px; */
    min-width: 20%;
    height: 23%;
    background: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(51, 45, 45, 0.7);
    font-size: 0;
    /* float: left; */
    margin: 4px;
    margin-right: 0.4rem;
    margin-left: 0.5rem;
   /* margin-right: 22px; */
    cursor: pointer;
    text-align: center;
    /* padding-top: 0.5; */
}

.show{
    font-size: 13vmin;
    color: white;
}

.card i{
    position: relative;
    top: 1rem;
}

.open{
    cursor: default;
    background: rgb(114, 102, 221);
}

.match{
    background: rgb(165, 31, 165);
    color: white;
    /* font-size: 50px; */
    font-size: 13vmin;
    cursor: default;
}

.score-panel{
    position: absolute;
    /* left: 5em; 
    top: 1.5em; */
    height: 30px;
    margin:  1.5em auto;
    /* font-size: 22px; */
    font-size: 1em;
}

.score-space{
    padding: 0.4em;
}

.num-moves{
    padding: 0.2em;
}

.pause-background{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(37, 37, 37,0.5);
}

.pause-body{
    background: ghostwhite;
    position: relative;
    top: 11em;
    width: 25%;
   /* height:30%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.pause-text{
    text-align: center;
    font-size: 1.2em;
}

.play{
    font-size: 3em;
    padding-bottom: 0.2em;
    display: flex;
    justify-content: center;
}

.hide{
    display: none;
}

.modal-background{
    background: rgba(37, 37, 37,0.5);
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.modal-body{
    background: ghostwhite;
    position: relative;
    top: 9em;
    min-width: 186px;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}
.modal-heading{
    border-bottom: solid 0.5px rgb(54, 53, 53);
    display: flex;
    /* justify-content: space-between; */
    /* padding-left: 21.44px; */
    font-size: 0.6em;
    text-align: center;
}

.heading{
    margin: 0 auto;
}

.fa-window-close{
    font-size: 3em;
    color: rgb(148, 27, 27);
}

.modal-content{
    border-bottom: solid 0.5px rgb(54,53,53);
}

.totalTime, .totalMoves, .totalStar{
    padding: 0.6em;
    font-size: 1.5em;
    text-align: center;
}

.modal-button{
    width: 70px;
    height: 35px;
    font-size: 1em;
}

.replay{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide-background{
    display: none;
}