html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

html, body, .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

body{
    background: white url("img/geometry2.png");
}
.deck{
    position: absolute;
    width: 686px;
    height: 88%;
    background: linear-gradient(160deg, rgb(114, 102, 221),rgb(165, 31, 165));
    border-radius: 10px;
    left: 15%;
    top: 10%; 
    box-shadow: 15px 15px 20px rgba(51, 45, 45, 0.7);
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: none; 
}
.card{
    width: 133px;
    height: 21%;
    background: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(51, 45, 45, 0.7);
    font-size: 0;
    float: left;
    margin: 10px;
    margin-right: 22px;
    cursor: pointer;
    text-align: center;
}

.open{
    cursor: default;
    color: white;
    font-size: 50px;
    padding: 0.6em;
    background: rgb(114, 102, 221);
}

.match{
    background: rgb(165, 31, 165);
    color: white;
    font-size: 50px;
    padding: 0.6em;
    cursor: default;
}

.score-panel{
    position: absolute;
    left: 12em;
    top: 1.5em;
    height: 30px;
    font-size: 22px;
}

.score-space{
    padding: 1em;
}

.num-moves{
    padding: 0.2em;
}