html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

html, body, .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

body{
    background: white url("img/geometry2.png");
}
.deck{
    position: absolute;
    width: 686px;
    height: 88%;
    background: linear-gradient(160deg, rgb(114, 102, 221) 0%,rgb(165, 31, 165) 100%);
    border-radius: 10px;
    left: 15%;
    top: 10%;
    box-shadow: 15px 15px 20px rgba(51, 45, 45, 0.7);
    margin: 0;
    padding: 20px;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0; 
}
.card{
    width: 133px;
    height: 21%;
    background: rgb(114, 102, 221);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(51, 45, 45, 0.7);
    font-size: 0;
    float: left;
    margin: 10px;
    margin-right: 22px;
}